In [8]:
STRING = 'Assam'
lIST = ["Monday","Tuesday"]
TUPLE = tuple(l)
NUMBER = 45.44
var = ''                     """ String """

var2 = '[DS,ML,PYTHON]'       """ String """

var2 = ['DS','ML','PYTHON']  """ LIST """

var4 = 1                       """ INT """

SyntaxError: invalid syntax (971756671.py, line 10)

In [2]:
""" 
/ is used for division 
% is used to get reminder
// is used to get floor division
** is used to compute cube of the definend number
"""

' \n/ is used for division \n% is used to get reminder\n// is used to get floor division\n** is used to compute cube of the definend number\n'

In [3]:
LIST = [1,2,3,"Chennai", 1+8j, 4.46, 0.76, "A","B","C"]
for i in LIST :
   print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Chennai <class 'str'>
(1+8j) <class 'complex'>
4.46 <class 'float'>
0.76 <class 'float'>
A <class 'str'>
B <class 'str'>
C <class 'str'>

In [5]:
a = int(input("Please enter the number"))

if a%3 == 0:
    c = a//3
    print ("The number ", a ,"can be divided", c ,"Times by 3" )
    
else :
    print ("The number cannot be divisible by 3")

Please enter the number 23

The number cannot be divisible by 3

In [6]:
n = range(1,26)
 
for i in n :
       if (i%3 == 0):
            print(i,"is divisible by 3")
       else :
            print(i, 'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
""" What do you understand about mutable and immutable data types? Give examples for both showing  this property.

The mutable data type is free to modify the data, 
Example is list
LIST = [1,2,3,4]
here  i can change the value of LIST[2] = 4, which is possible

whereas in immutable  data type never allows to modify the data 

Examplpe is Tuple

tuple(LIST)
LIST = [1,2,3,4]
list[2] = 4 is not allowed here